In [4]:
import pandas as pd
data = [1,2,3,4]
series1 = pd.Series(data, index = ['a','b','c','d'])
series1

a    1
b    2
c    3
d    4
dtype: int64

In [5]:
#creating a dataframe using list:
data1 = [1,2,3,4,5]
df = pd.DataFrame(data1)
df

   0
0  1
1  2
2  3
3  4
4  5

In [8]:
#creating a dataframe using a dictionary:
dictionary= {'fruits': ['apples','bananas', 'mangoes'], 'count':[10,20,15]}
df2 = pd.DataFrame(dictionary)
df2

    fruits  count
0   apples     10
1  bananas     20
2  mangoes     15

In [9]:
#creating a dataframe using a series
series = pd.Series([6,12], index = {'a','b'})
series

a     6
b    12
dtype: int64

In [13]:
#creating a dataframe out of a numpy array
import numpy as np
numpyarray = np.array([[50000,60000],['John','James']])
df3 = pd.DataFrame({'name':numpyarray[1], 'salary':numpyarray[0]})
df3

    name salary
0   John  50000
1  James  60000