#### 1. For a given list that contains numbers from 1 to 20. Using a for loop, create a new list that contains the square of each element from the given list.

In [1]:
abc = list()            #Can also use l=list(range(1,21))
for x in range (1,21):
    abc.append(x)
print (abc)

abc2 = list()
for y in range (1,21):
    abc2.append (y*y)
print (abc2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]
[1, 4, 9, 16, 25, 36, 49, 64, 81, 100, 121, 144, 169, 196, 225, 256, 289, 324, 361, 400]

#### 2. For a given dictionary that contains numbers from 1-10 as keys, and their square as values, display each key-value pair using a for loop

In [2]:
 for x in range (1,11):  #Or use d={i=i**2 for x in range(1,11):}
    dict1= {x:x**2}
    print (dict1)

{1: 1}
{2: 4}
{3: 9}
{4: 16}
{5: 25}
{6: 36}
{7: 49}
{8: 64}
{9: 81}
{10: 100}

#### 3. A tuple contains even numbers from 1-20. Display all the items in a tuple using a for loop.

In [3]:
lis1 = list()
for x in range (1,21):
    if x%2==0:
        lis1.append(x)
tup1 = tuple(lis1)
print (tup1)

(2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

#### 4. A set contains odd numbers from 1-20. Display the items in a set using a for loop.

In [4]:
set1 = set()
for x in range (1,21):
    if x%2==1:
        set1.add(x)
print(set1)

{1, 3, 5, 7, 9, 11, 13, 15, 17, 19}

#### 5. For a given sequence of nested lists, display the elements using a for loop. a = [[1,2],[3,4],[5,6],[7,8]]

In [5]:
a=[[1,2],[3,4],[5,6],[7,8]]
for i in a:
    for j in i:
        print (j)

1
2
3
4
5
6
7
8

#### 6. For a given sequence of nested dictionaries, display all the values in the dictionary. a = {1: {'one':1}, 2: {'two':2}, 3: {'three':3}}

In [6]:
a = {1:{"one"}, 2:{"two"}, 3:{"three"}}
for i in a.values():
    for j in i:
        print(j)

one
two
three

#### 7. For a given list of natural numbers from 1-100, using the while loop, print only the numbers that are divisible by 2.

In [ ]:
j=1
while j <101:
    if j%2==0:
        print(j)

#### 8. Print the first 5 multiples of 3 using a while loop.

In [ ]:
i=1
while i<6:
    print(i*3)
    i=i+1

#### 9. For a given dictionary that contains the first 10 natural numbers as keys, and their cubes as values, display the key value pairs using a while loop.

In [1]:
d1 = {i: i*i*i for i in range(1,11)}
count=1
while count<=len(d1):
    print("key: ",count, "value: ", d1.get(count) )
    count=count+1

key:  1 value:  1
key:  2 value:  8
key:  3 value:  27
key:  4 value:  64
key:  5 value:  125
key:  6 value:  216
key:  7 value:  343
key:  8 value:  512
key:  9 value:  729
key:  10 value:  1000

#### 10. Write a program using a while loop demonstrating the usage of break, continue and pass statements along with if else statements.

In [ ]:
i=0
while (i<10):
    i=i+1
    if i==3:
        continue
    if i==7:
        pass
    if i==4:
        break
    print(i)

#### 11. Write a program using a for loop demonstrating the usage of break, continue and pass statements along with if else statements.

In [ ]:
for i in range (1,10):
    i=i+1
    if i==3:
        continue
    if i==7:
        pass
    if i==4:
        break
    print(i)

#### 12. Create a nested for loop to print a pyramid pattern program in python.

In [ ]:
for i in range (1,7):
    for j in range (1,i+1):
        print('*',end='')
    print()